section.contact {
	margin: 6rem auto;
	position: relative;
	padding: 5rem;
	h2 {
		display: inline-block;
	}
	.map {
		height: 400px;
		width: 50%;
		position: relative;
		right: 4rem;
		top: -1rem;
		transform: scale(1.15);
	}
	input {
		width: calc(50% - 1.3rem);
		margin-right: 1.3rem;
		margin-bottom: 1.3rem;
		padding: 1rem;
		font-size: 1.6rem;
		border: 2px solid $black;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:focus {
			border: 2px solid $seafoam;
			outline-color: $seafoam;
		}
	}
	input[type=email] {
		width: 49%;
		margin-right: 0;
		padding: 1rem;
		font-size: 1.6rem;
	}
	.hundoP {
		width: 100%;
	}
	textarea {
		font-size: 1.6rem;
		border: 2px solid $black;
		padding: 1rem;
		&:focus {
			border: 2px solid $seafoam;
			outline-color: $seafoam;
		}
	}
	.content {
		margin: 0 auto;
		float: none;
	}
	input[type=submit] {
		margin-top: 2rem;
		width: 100%;
	}
	form {
		width: 50%;
		position: relative;
		left: 4rem;
		top: 4rem;
		background: rgba(222,222,222,0.6);
		padding: 2rem;
		transform: scale(1.15);
		z-index: 2;
	}
}

