header {
	height: 95vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2rem solid $white;
	.triangleBox {
		width: 0; 
		height: 0; 
		border-left: 300px solid transparent;
		border-right: 300px solid transparent;
		border-top: 400px solid rgba(113,238,184,0.4);
		position: absolute;
		transform: translate(-50%, 0%) translateZ(0);
		left: 50%;
		top: 30%;
	}
	h1 {
		font-family: $display;
		color: $black;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		position: relative;
		z-index: 9;
	}
}