/*Custom*/
@media (max-width: 1125px) {
	html {
		section.portfolio {
			.portfolioItem {
/*				flex-direction: row-reverse;
				flex-wrap: wrap-reverse;*/
				.sideways {
					width: 15%;
					padding: 2rem;
				}
				.portfolioDescription {
					width: 35%;
					padding: 2rem;
				}
				.portfolioImage {
					width: 50%;
				}
			}
		}
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	html {
		.show-menu {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 100vh;
			width: 100%;
			opacity: 1;
			transition: opacity 0.3s ease;
			li {
				text-align: center;
				a {
					font-size: 5rem;
					text-transform: uppercase;
					.fa {
						font-size: 2rem;
					}
				}
			}
		}
		header {
		}
		section.about {
			.seafoamSquare {
				top: -7rem;
				left: 4.5rem;
			}
			.avatar {
				width: 40%;
				position: relative;
				left: -4.5rem;
			}
			figcaption {
				padding: 0;
				margin: 0;

			}
		}
		section.portfolio {
			.title {
				width: calc(100% - 5vw);
			}
			.portfolioItem {
				flex-direction: row-reverse;
				flex-wrap: wrap-reverse;
				.sideways {
					width: 20%;
					padding: 3rem;
				}
				.portfolioDescription {
					width: 80%;
					padding: 3rem;
				}
				.portfolioImage {
					width: 100%;
					padding: 3rem;
				}
			}
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	html {
		section.about {
			aside {
				display: none;
			}
			article {
				width: 100%;
				margin: 0;
			}
			figcaption {
				position: static;
				width: 100%;
			}
			.seafoamSquare {
				-webkit-clip-path: url('#clipping3');
				clip-path: url('#clipping3');
				-webkit-mask-clip: url('#clipping3');
				top: 12rem;
			}
/*			.avatar {
				z-index: 2;
			}*/
		}
		section.contact {
			margin: 0 auto;
			padding: 0 5rem;
			.grid {
				flex-wrap: wrap;
			}
			form {
/*				position: static;*/
				top: 1px;
				left: 0;
				width: 100%;
				transform: translateZ(0) scale(1);
/*				margin: 3rem auto;*/
				input[type=text] {
					width: 100%;
				}
				input[type=email] {
					width: 100%;
				}
			}
			.map {
				position: static;
				top: 0;
				left: 0;
				width: 100%;
				margin: 3rem auto;
				transform: scale(1);
			}
		}
		footer {
			margin-top: 3rem;
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	html {
		body {
			header {
				.triangleBox {
					width: 0; 
					height: 0; 
					border-left: 200px solid transparent;
					border-right: 200px solid transparent;
					border-top: 260px solid rgba(113,238,184,0.4);
					position: absolute;
					transform: translate(-50%, 0%);
					left: 50%;
					top: 30%;
					z-index: 1;
				}
			}
			section.skills {
				.devicons {
					font-size: 6rem;
				}
			}
			h1 {
				font-size: 3rem;
			}
		}
	}
}
