ul.menu {
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			padding: 10px;
			color: $black;
			font-size: 1.6rem;
			text-transform: uppercase;
			font-weight: 700;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&:hover {
				color: $seafoam;
				transition: color 0.3s ease;
			}
			&:focus {
				color: $seafoam;
				transition: color 0.3s ease;
			}
		}
	}
}

nav {
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	-webkit-transform: translate3d(0,0,0);
	padding: 0 2rem;
	background: #fff;
	h2 {
		font-size: 2rem;
		padding: 1rem;
	}
	.fa {
		font-size: 2rem;
		padding: 1rem;
	}
	.hamburger {
		margin: auto 0;
		padding: 0;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	#menu-primary-nav {
		margin: auto 0;
	}
	#menu-social.hidden {
		display: none;
	}
	#menu-social {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 1 0 auto;
	}
}
.white a:hover {
	color: $seafoam;
	transition: color 0.3s ease;
}
.seafoam a:hover {
	color: $seafoam;
	transition: color 0.3s ease;
}