section.portfolio {
	width: 100%;
	clear: both;
	background: $gray;
	.sideways h3 {
		/* Safari */
		-webkit-transform: rotate(-90deg);
		/* Firefox */
		-moz-transform: rotate(-90deg);
		/* IE */
		-ms-transform: rotate(-90deg);
		/* Opera */
		-o-transform: rotate(-90deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		width: 100%;
		font-size: 3rem;
		display: inline-block;
		padding-right: 10rem;
		margin: 0;
		white-space: nowrap;
		text-align: center;
	}
	.sideways {
		width: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.portfolioDescription {
		width: 35%;
		padding: 3rem;
	}
	.portfolioItem {
		justify-content: space-between;
	}
	.portfolioItem:nth-child(2n-2) {
		flex-direction: row-reverse;
/*		.portfolioImage {
			position: relative;
			bottom: 6rem;
		}*/
	}
	.portfolioImage {
		width: 50%;
		transform: scale(1.15);
	}
/*	.portfolioItem:nth-child(3) .portfolioImage {
		position: relative;
		bottom: 6rem;
	}*/
}